body{
    background: #bec271
    ;
    font-family: monospace;
    


}

.container-table{
    width: 75%;
    background: white;
    margin: 50px auto;
    box-shadow: 0 0 20px #333;
    border-radius: 20px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 50px;
}

.table__title{
    grid-column-start: 1;
    grid-column-end: 5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgb(24, 85, 177);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;

}

.table__title1{
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 20px;
    background: #547b01;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;

}

.table__header, .table__item{
    display: flex;
    justify-content: center;
    align-items: center;



}

.table__header{
    font-weight: bold;
    font-size: 1.9em;


}

.table__item{
    padding: 10px;
    font-size: 1.5em;

}

.container-title{
    width: 75%;
    background: rgb(24, 85, 177);
    margin: 50px auto;
    box-shadow: 0 0 20px #333;
    border-radius: 20px;
    height: 75px;


}

p{
    text-align: center;
    width: 75%;
    margin: 0px auto;
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
    position: absolute;
    font-family: 'Baloo Tamma', cursive;
    font-weight: bold;
    
    text-shadow: -1px -1px 0px rgb(0, 162, 255),
      3px 3px 0px rgb(0, 162, 255),
      6px 6px 0px rgb(30, 30, 131);
}     

#main-container{
	margin: 150px auto;
	width: 75%;
    margin-top: 0%;
}

table{
	background-color: rgb(46, 46, 46);
	text-align: center;
	border-collapse: collapse;
    border-radius: 20px;
	width: 100%;
    box-shadow: 0 0 20px #333;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #90a900;
	border-bottom: solid 5px #0F362D;
	color: white;
    
    border-top-right-radius: 20px;
}

tr:hover td{
	background-color: #707070;
	color: black;
}